  .background-light{
      background-color: #D3D3D3;
  }
  .bgOrange{
    background-color: #ffc107!important;
  }
  .bgGreen{
    background-color: #28a745!important;
  }
  .bgBlue{
    background-color: #17a2b8!important;
  }
  .example-origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 10px;
  }
  .example-draggable {
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
  }
  @media screen and (max-width: 767px){
    .p-small-2{
      padding: 2rem!important;
    }
  }